.ItemDetails {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.ItemDetails .ItemImage {
  width: 30%;
  height: 30%;
}

.ItemImage {
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(114, 112, 112);
}

.ItemDetails .list-group-item {
  padding: .25rem;
}

.ItemDetails .list-group-item .term {
  margin-right: .5rem;
}

.ItemDetails .list-group-item {
	text-transform: capitalize;
	transition: 0.5s;
}

.ItemDetails .list-group-item:hover {
	background-color: #444;
}