a {
	/* color: #fff; */
	text-decoration: none;
}

a:hover {
	width: 5%;
	color: #fff;
	text-decoration: none;
}

nav {
	background-color: #000;
	margin-bottom: 3%;
	display: flex;
}
nav ul {
	display: flex;
}
/* 
nav .Logo {

} */

/* .Header ul {
	width: 100%;
}
.Header ul:hover {
	width: 100%;
} */
/* .Header ul li {
	padding-left: 2%;
	padding-top: 2%;
} */